@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Base Typography */
@layer base {
	:root {
		@apply text-xs;
	}
	p {
		@apply body_primary_regular;
	}
	a {
		@apply underline hover:underline focus:underline;
	}
}

/* Base Components */
@layer components {
	/* Healines */
	.headline_regular {
		@apply font-highlight leading-base text-huge font-regular;
	}
	.headline_bold {
		@apply font-highlight leading-base text-huge font-heavy;
	}
	.secondary_headline_regular {
		@apply font-highlight leading-base text-xxl font-regular;
	}
	.secondary_headline_bold {
		@apply font-highlight leading-base text-xxl font-heavy;
	}
	.tertiary_title_regular {
		@apply font-highlight leading-medium text-l font-regular;
	}
	.tertiary_title_bold {
		@apply font-highlight leading-medium text-l font-bold;
	}
	.subtitle_regular {
		@apply font-base leading-medium text-md font-regular;
	}
	.secondary_subtitle_regular {
		@apply font-base leading-medium text-sm font-regular;
	}
	.body_primary_regular {
		@apply font-base leading-base text-xs font-regular;
	}
	.secondary_body_regular {
		@apply font-base leading-large text-xs font-regular;
	}
	.caption_regular {
		@apply font-base leading-long text-nano font-regular;
	}
	/* Buttons*/
	.button-accent {
		@apply bg-primary-medium py-2 px-4 leading-medium rounded-xl text-neutral-white text-xs font-bold shadow-sm hover:shadow-xl focus:shadow-xl inline-block;
	}
	.button {
		@apply py-2 px-4 leading-medium rounded-xl text-neutral-white hover:shadow-xl text-xs font-bold hover:bg-primary-medium focus:shadow-xl focus:bg-primary-medium inline-block;
	}
	/* Layout */
	.wrapper {
		@apply max-w-screen-lg mx-auto p-4;
	}


	.form-container {
		@apply min-h-screen flex flex-col items-center justify-center sm:px-6 lg:px-8 rounded-lg;
	}
	.form {
		@apply rounded bg-neutral-white overflow-hidden shadow-xl px-5 py-10 max-w-screen-md;
	}
	.form-input {
		@apply mt-1  block w-full shadow-sm border-2 border-neutral-lightest rounded-md py-2 pl-4;
	}
	.searchBar-container {
		@apply mb-4 py-3 px-2 bg-primary-medium rounded-xl shadow-md border w-full mx-auto md:w-full md:w-11/12 lg:w-10/12 md:py-1 md:px-1;
	}
	.searchBar-container-flex {
		@apply flex flex-col space-y-2 md:flex-row md:justify-between md:items-center md:space-y-0;
	}
	.card-content-details {
		@apply flex flex-col align-bottom;
	}
}

.marker-btn {
	background: none;
	border: none;
	cursor: pointer;
}
.marker-btn img {
	width: 20px;
	height: 20px;
}
