@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Base Typography */
@layer base {
	:root {
		@apply text-xs m-0;
	}
	main {
		@apply wrapper flex flex-col;
	}
	body {
		@apply m-0;
	}
	h1 {
		@apply text-lg font-base leading-none md:leading-tight md:leading-base md:text-xl font-heavy;
	}
	h2 {
		@apply tertiary_title_bold;
	}
	h3 {
		@apply font-highlight text-s font-bold;
	}
	p {
		@apply body_primary_regular;
	}
	a {
		@apply no-underline;
	}
	label {
		@apply caption_regular_dark;
	}
}

/* Base Components */
@layer components {
	/* Healines */
	.headline_regular {
		@apply font-highlight leading-base text-huge font-regular;
	}
	.headline_bold {
		@apply font-highlight leading-base text-huge font-heavy;
	}
	.secondary_headline_regular {
		@apply font-highlight leading-tight md:leading-base text-xxl font-regular;
	}
	.secondary_headline_bold {
		@apply font-highlight leading-tight md:leading-base text-xxl font-heavy;
	}
	.tertiary_title_regular {
		@apply font-base leading-medium text-l font-regular;
	}
	.tertiary_title_bold {
		@apply font-base leading-tight text-md md:leading-medium md:text-l font-bold;
	}
	.tertiary_title_card {
		@apply font-highlight text-sm font-bold;
	}
	.subtitle_regular {
		@apply font-base leading-medium text-md font-regular;
	}
	.secondary_subtitle_regular {
		@apply font-base leading-medium text-sm font-regular;
	}
	.body_primary_regular {
		@apply font-base leading-base text-xs font-regular;
	}
	.body_primary_semibold {
		@apply font-highlight leading-medium text-s font-bold;
	}
	.secondary_body_regular {
		@apply font-base leading-large text-xs font-regular;
	}
	.caption_regular {
		@apply font-base leading-long text-nano font-regular text-secundary-lightest;
	}
	.caption_regular_dark {
		@apply font-base leading-long text-nano md:text-xs font-regular text-neutral-semilight;
	}
	.caption_regular_light {
		@apply font-base leading-long text-nano md:text-xs font-regular text-neutral-white;
	}
	.footer_links {
		@apply font-highlight leading-tight text-s md:leading-medium md:text-sm font-regular;
	}
	/* Buttons*/
	.button-accent {
		@apply bg-primary-medium py-2 px-4 leading-medium rounded-xl text-neutral-white text-xs font-bold shadow-sm hover:shadow-xl focus:shadow-xl inline-block;
	}
	.button-accent-big {
		@apply bg-primary-medium py-3 px-4 leading-medium rounded-xl text-neutral-white text-xs font-bold shadow-sm hover:shadow-xl focus:shadow-xl inline-block;
	}
	.button {
		@apply py-2 px-4 leading-medium rounded-xl text-xs font-bold hover:underline focus:underline inline-block;
	}
	.button-accent-searchBar {
		@apply bg-primary-medium py-3 px-6 leading-medium rounded-xl text-neutral-white text-xs font-bold shadow-sm hover:shadow-xl focus:shadow-xl inline-block md:ml-3;
	}
	/* Layout */
	.wrapper {
		@apply max-w-screen-lg mx-auto p-4;
	}
	.wrapper-main-content {
		@apply mx-auto p-4 md:ml-36;
	}
	/* Search bar */
	.searchBar-container {
		@apply mb-4 py-3 px-2 bg-neutral-medium-opacity rounded-xl shadow-md  w-full mx-auto md:w-full md:w-11/12 lg:w-10/12 md:py-1 md:px-1;
	}
	.searchBar-container-flex {
		@apply flex flex-col space-y-3.5 md:flex-row md:justify-between md:items-center md:space-y-0;
	}
	/* Forms */
	.form-container {
		@apply min-h-screen flex flex-col items-center justify-center sm:px-6 lg:px-8 rounded-lg;
	}
	.form {
		@apply rounded bg-neutral-white overflow-hidden shadow-xl px-5 py-10 max-w-screen-md;
	}
	.form-input {
		@apply mt-1 block w-full shadow-sm border-2 border-neutral-lightest rounded-md py-2 pl-4;
	}
	/* Cards */
	.card-content-details {
		@apply flex flex-col align-bottom;
	}

	/* User profile */ 
	.popup {
		@apply bg-gray-500 bg-opacity-25  w-full h-full justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none;
	} 

}

.marker-btn {
	background: none;
	border: none;
	cursor: pointer;
}
.marker-btn img {
	width: 20px;
	height: 20px;
}
